// import Lato font from Google Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: clip !important;
    scroll-behavior: smooth;
}
.topbar {
    h6 {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
    }
}
.middlebar {
    padding: 1em 2em;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.navbar {
    .nav-link {
        font-family: "Poppins", sans-serif !important;
        font-weight: 700 !important;
    }
    background-color: #fff !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.social-media a {
    font-size: 1.5em;
    padding: 0 10px;
    .fb:hover {
        color: #3b5998 !important;
    }
    .twitter:hover {
        color: #00aced !important;
    }
    .linkedin:hover {
        color: #007bb6 !important;
    }
    .yt:hover {
        color: #bb0000 !important;
    }
}
.navbar {
    padding: 0.1em 1em !important;
    .nav-item {
        padding: 0 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
    .nav-link {
        font-size: 0.8em;
        font-weight: bold;
    }
}
.dropdown-menu-show {
    top: 100%;
    left: 0;
    margin-top: 0.125rem;
}

.card-section {
    h5 {
        font-size: 1.75em;
        font-weight: bold;
        font-family: "Nunito", sans-serif !important;
        white-space: nowrap;
    }
    p {
        font-size: 0.95em;
        font-family: "Poppins", sans-serif !important;
    }
}
.card-icon {
    font-size: 1.5em;
    padding: 15px !important;
    border-radius: 50% !important;
    border: 3px solid rgb(51, 51, 51) !important;
}
.btn {
    &-know_more,
    &-load_more {
        padding: 0.5em 1em;
        border-radius: 2px;
        background-color: #1e66ac;
    }
}
.footer {
    iframe {
        height: 85%;
        width: 100%;
    }
    td {
        white-space: nowrap;
    }
}
// media query to hide social media icons on mobile devices
@media (max-width: 575.98px) {
    .social-media {
        display: none;
    }
    .contact-info {
        display: none;
    }
    // align logo to center on mobile devices
    .middlebar,
    .topbar {
        display: flex;
        align-items: center !important;
        justify-content: center !important;
    }
}
@media screen and (max-width: 767.98px) {
    .secvies_card,
    .portfolio-item {
        text-align: center !important;
    }
    .map{
        display: none;
    }
}
@media screen and (max-width: 991.98px) {
    .navbar-toggler{
        width: 100% !important;
    }
    .footer{
        p, h6{
            text-align: center;
        }
        &-contact-icon{
            text-align: end !important;
        }
    }
}
